#navbar {
  position: fixed;
  height: var(--navbar-height);
  width: 100%;
  z-index: 1;

  padding: 0px 50px;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#nav-buttons {
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;

  gap: 50px;
}

#nav-buttons a {
  text-decoration: none;
}

#nav-buttons a:hover {
  text-decoration: underline;
}
