@import url("../../global.css");

#bio {
  background-color: var(--secondary-colour);
}

.portrait {
  border-radius: 15px;
}

.portrait-subtitle {
  color: lightblue;
}

.signiature {
  font-size: 24px;
  padding: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* PC SCREEN */
@media (min-width: 1440px) {
  .bio-name {
    font-size: 72px;
    margin-bottom: 6rem;
  }

  .bio-content {
    flex-direction: row;
    justify-content: space-around;
  }

  .bio-paragraph {
    font-size: 18px;
    margin-top: 2rem;
    width: 700px;
  }

  .portrait {
    width: 325px;
    margin-bottom: 50px;
  }

  .portrait-subtitle {
    font-size: 18px;
    margin-top: 1rem;
    margin-left: 5rem;
  }
}

/* PHONE SCREEN */
@media (min-width: 370px) and (max-width: 1439px) {
  #bio .content * {
    align-items: center;
  }

  #bio .content {
    align-items: center;
  }

  .bio-name {
    margin-top: 2rem;
    font-size: 32px;
  }

  .bio-paragraph {
    font-size: 16px;
    margin-top: 1rem;
  }

  .portrait {
    width: 60%;
  }

  .portrait-subtitle {
    font-size: 18px;
    margin-top: 0.5rem;
  }
}
