.Review {
  background-color: whitesmoke;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.Review-name {
  color: black;
  font-size: 18px;
  margin: 0 0 0.2rem 0;
}

.Review-stars {
  flex-direction: row;
  gap: 2px;
}

.Review-star {
  color: goldenrod;
  font-size: 16px;
}

.Review-num-stars {
  font-size: 12px;
  font-weight: 400;
  color: grey;

  justify-content: center;

  margin-left: 5px;
}

.Review-paragraph {
  color: black;
}

.Review-read-more-button {
  color: black;
  background-color: transparent;

  border: none;
  cursor: pointer;
}

/*

PHONE SCREEN

*/
@media (min-width: 370px) and (max-width: 1439px) {
  .Review {
    width: 100%;
    padding: 20px 30px;
  }

  .Review-text {
    gap: 0.5rem;
  }

  .Review-stars {
    padding-bottom: 0.4rem;
  }
}

/*

PC SCREEN

*/
@media (min-width: 1440px) {
  .Review {
    width: 700px;
    padding: 30px 40px;
  }

  .Review-stars {
    padding-bottom: 0.4rem;
  }

  .Review-text {
    gap: 1rem;
  }
}
