@import url("../../global.css");

#packages {
  background-image: linear-gradient(
    var(--secondary-colour) 70%,
    var(--primary-colour)
  );
}

#packages .content {
  justify-content: center;
  align-items: center;
}

#package-ranks {
  width: 100%;
}

#add-ons {
  height: fit-content;
  width: 100%;
  padding: 50px;

  justify-content: space-evenly;
  text-align: center;

  border: 2px solid grey;
  border-radius: 5px;
  background-color: var(--add-ons);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
}

/*

PHONE SCREEN

*/
@media (min-width: 370px) and (max-width: 1439px) {
  #add-ons .list {
    align-items: center;
  }

  #add-ons {
    max-width: 350px;
  }
}

/*

PC SCREEN

*/
@media (min-width: 1440px) {
  #package-ranks {
    position: relative;
    width: 100%;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: end;
    margin-bottom: 100px;
  }

  #add-ons .title {
    font-family: "cinzel";
  }

  #add-ons .list {
    flex-direction: row;
    justify-content: space-around;
  }
}
