#gold-package {
  border-color: var(--gold);
  background-image: var(--gold-gradient);
}

#platinum-package {
  border-color: var(--platinum);
  background-image: var(--platinum-gradient);
}

#diamond-package {
  border-color: var(--diamond);
  background-image: var(--diamond-gradient);
}

#master-package {
  border-color: var(--master);
  background-image: var(--master-gradient);
}

.package {
  position: relative;
  width: 25%;
  height: 550px;

  border: 2px solid;

  transition: transform 1500ms;
  transform-style: preserve-3d;
  cursor: pointer;
}

.package-icon-container {
  position: absolute;
  width: 100%;
  align-items: center;
}

.package-icon {
  width: 70%;
  opacity: 0.4;
}

.package-title {
  font-family: "Cinzel";
  font-size: 40px;
  font-weight: 700;
  color: var(--secondary-text);

  text-align: center;

  margin-top: 100px;

  z-index: 1;

  text-transform: uppercase;
}

.package h2 {
  font-weight: 600;
  font-size: 16px;
  z-index: 1;
}

.package li {
  flex-direction: row;
  font-size: 12px;
  margin-bottom: 1.2rem;
}

.package .items {
  justify-content: space-between;
  height: 356px;
  padding: 0px 22px 40px 22px;
}

.package-small-text {
  text-align: center;
  font-size: 11px;
}

.package-front,
.package-back {
  position: absolute;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.package-front ul * {
  padding: 0 22px;
}

.package-back {
  transform: rotateY(180deg);
}

.package-back ul,
.package-back li {
  margin-bottom: 0.5rem;
}

.package-back li {
  font-size: 14px;
}

.package .price {
  justify-content: space-between;
}

.package.flipped {
  transform: rotateY(180deg);
}

.payment {
  text-align: center;
  margin-bottom: 2rem;
}

/*

PHONE SCREEN

*/
@media (min-width: 370px) and (max-width: 1439px) {
  .package {
    width: 95%;
    max-width: 350px;
    margin-bottom: 20vw;
  }
}

/*

PC SCREEN

*/
@media (min-width: 1440px) {
  .package {
    max-width: 350px;
  }
}
