#gold-package {
  border-color: var(--gold);
  background-image: var(--gold-gradient);
}

#platinum-package {
  border-color: var(--platinum);
  background-image: var(--platinum-gradient);
}

#diamond-package {
  border-color: var(--diamond);
  background-image: var(--diamond-gradient);
}

#master-package {
  border-color: var(--master);
  background-image: var(--master-gradient);
}

.Package-container {
  width: 500px;
  justify-content: center;
  align-items: center;
}

.Package {
  border: 2px solid;
  border-radius: 20px;
  justify-content: center;
  gap: 20px;
  max-width: 500px;
}

.Package-icon-container {
  align-items: center;
  justify-content: end;

  height: 200px;
}

.Package-icon {
  position: absolute;
  width: 200px;
  opacity: 0.4;
}

.bullet-point {
  color: lightgreen;
}

.Package-title {
  font-family: "Cinzel";
  font-size: 52px;
  color: var(--secondary-text);

  z-index: 1;
}

.Package-header {
  font-size: 14px;
  opacity: 0.6;
  font-weight: lighter;
  z-index: 1;
  margin-bottom: 2rem;
}

.Package-items {
  padding: 10px 22px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.Package-item {
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  margin-bottom: 1.2rem;
  width: 50%;
}

.Package-tap-to-view {
  text-align: center;
  font-size: 11px;
  margin-top: 20px;
}

.Package-front,
.Package-back {
  position: absolute;
  width: 100%;
  height: 100%;
  gap: 1rem;
  justify-content: space-evenly;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: translateZ(0); /* helps in some browsers */
  -webkit-transform: translateZ(0);
  background: inherit; /* ensure faces are opaque so bleeding doesn't happen */
  -webkit-font-smoothing: antialiased;
}

.Package-item-list {
  padding: 0 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Package-bullet {
  margin-right: 2rem;
  color: greenyellow;
}

.Package-back {
  transform: rotateY(180deg);
}

.Package.flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.Package-deliverables {
  flex-direction: row;
  flex-wrap: wrap;
}

.Package-deliverable {
  width: 50%;
  text-align: center;
  margin-bottom: 2rem;
}

.Package-payment {
  text-align: center;
  margin-bottom: 2rem;
}

.Package-prices {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
}

.Package-price {
  align-items: center;
  margin-bottom: 2rem;
  width: 50%;
  font-size: 12px;
}

.Package-price-value {
  font-size: 24px;
  font-weight: bold;
}

.Package-duration {
  padding: 0px 50px;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
}

/*

PHONE SCREEN

*/
@media (min-width: 370px) and (max-width: 1439px) {
  .Package-container {
    width: 100%;
  }

  .Package {
    width: 100%;
    margin-bottom: 20vw;
  }

  .Package-prices {
    padding: 0;
  }

  .Packages .content {
    align-items: center;
  }
}

/*

PC SCREEN

*/
@media (min-width: 1440px) {
}
