#gold-package {
  border-color: var(--gold);
  background-image: var(--gold-gradient);
}

#platinum-package {
  border-color: var(--platinum);
  background-image: var(--platinum-gradient);
}

#diamond-package {
  border-color: var(--diamond);
  background-image: var(--diamond-gradient);
}

#master-package {
  border-color: var(--master);
  background-image: var(--master-gradient);
}

.Package-container {
  width: 25%;
  perspective: 1000px;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.Package {
  position: relative;
  height: 700px;
  width: 100%;

  border: 2px solid;

  transition: transform 1500ms;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  cursor: pointer;
}

.Package-icon-container {
  position: absolute;
  top: 0;
  width: 100%;
  align-items: center;
}

.Package-icon {
  width: 70%;
  opacity: 0.4;
}

.bullet-point {
  color: lightgreen;
}

.Package-title {
  font-family: "Cinzel";
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: var(--secondary-text);
  text-transform: uppercase;

  margin-top: 100px;
  margin-bottom: 1rem;

  z-index: 1;
}

.Package-header {
  font-weight: 600;
  font-size: 16px;
  z-index: 1;
  margin-bottom: 1rem;
}

.Package-items {
  height: 285px;
  padding: 0px 22px 0px 22px;
}

.Package-item {
  flex-direction: row;
  font-size: 12px;
  margin-bottom: 1.2rem;
}

.Package-tap-to-view {
  text-align: center;
  font-size: 11px;
  margin-top: 20px;
}

.Package-front,
.Package-back {
  position: absolute;
  width: 100%;
  height: 100%;
  gap: 1rem;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: translateZ(0); /* helps in some browsers */
  -webkit-transform: translateZ(0);
  background: inherit; /* ensure faces are opaque so bleeding doesn't happen */
  -webkit-font-smoothing: antialiased;
}

.Package-item-list {
  padding: 0 50px;
}

.Package-bullet {
  margin-right: 2rem;
  color: greenyellow;
}

.Package-back {
  transform: rotateY(180deg);
}

.Package-price {
  flex-direction: row;
  justify-content: space-between;
}

.Package.flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.Package-payment {
  text-align: center;
  margin-bottom: 2rem;
}

.Package-prices {
  justify-content: space-between;
  padding: 0px 50px;
}

/*

PHONE SCREEN

*/
@media (min-width: 370px) and (max-width: 1439px) {
  .Package-container {
    width: 100%;
  }

  .Package {
    width: 95%;
    max-width: 350px;
    margin-bottom: 20vw;
  }

  .Packages .content {
    align-items: center;
  }
}

/*

PC SCREEN

*/
@media (min-width: 1440px) {
  .Package {
    max-width: 350px;
  }
}
