@import url("../../global.css");

.Hero {
  margin-top: var(--navbar-height);
  background-image: url(/public/imgs/miguel/hero-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*

PHONE SCREEN

*/
@media (min-width: 370px) and (max-width: 1439px) {
  .Hero {
    width: 100%;
    height: 100%;

    padding: 20px;
  }

  .Hero-panel {
    width: 100%;
    padding: 50px;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    backdrop-filter: blur(2px);
  }

  .Hero-welcome {
    font-size: 16px;
    font-weight: normal;
  }

  .Hero-name {
    flex-direction: row;
    gap: 1rem;

    font-size: 38px;
  }
}

/*

PC SCREEN

*/
@media (min-width: 1440px) {
  .Hero {
    padding: 0;
    height: 80vh;

    padding: 100px;

    justify-content: center;
  }

  .Hero-panel {
    width: 100%;
    padding: 75px;

    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    backdrop-filter: blur(2px);
  }

  .Hero-welcome {
    font-size: 34px;
    font-weight: normal;
  }

  .Hero-name {
    flex-direction: row;
    font-size: 132px;
  }
}
