#reviews {
  background-image: linear-gradient(
    var(--primary-colour),
    var(--secondary-colour) 99%
  );
}

#reviews .content {
  align-items: center;
  gap: 50px;
}

@media (min-width: 370px) and (max-width: 1439px) {
  #reviews .content {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .review {
    width: 100%;
  }
}
