.Reviews {
  background-image: linear-gradient(
    var(--primary-colour),
    var(--secondary-colour) 99%
  );
}

.Reviews .Section-content {
  align-items: center;
  gap: 25px;
}

/*

PHONE SCREEN

*/
@media (min-width: 370px) and (max-width: 1439px) {
  .Reviews .Section-content {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
}

/*

PC SCREEN

*/
@media (min-width: 1440px) {
}
