#contacts .content {
  flex-direction: row;
  justify-content: space-between;

  font-size: 20px;
}

.contact-list {
  justify-content: space-evenly;
}

.contact-img {
  width: 25%;
  border: 2px solid white;
  border-radius: 15px;
}

@media (min-width: 370px) and (max-width: 1439px) {
  #contact .content {
    flex-direction: column;
  }

  .contact-img {
    width: 75%;
  }
}
