#contacts {
  background-color: var(--primary-colour);
}

#contacts .content {
  flex-direction: row;
  justify-content: center;
  gap: 100px;

  font-size: 20px;
}

.contact-list {
  justify-content: space-around;
}

.contact-full-name {
  font-size: 52px;
}

.contact-full-name:hover {
  cursor: default;
}

.contact-img {
  width: 25%;
  border: 2px solid white;
  border-radius: 15px;
}

@media (min-width: 370px) and (max-width: 1439px) {
  #contact .content {
    flex-direction: column;
  }

  .contact-img {
    width: 75%;
  }
}
