#contacts {
  background-color: var(--primary-colour);
}

.contact-img {
  border: 2px solid white;
  border-radius: 15px;
}

/* PHONE SCREEN */
@media (min-width: 370px) and (max-width: 1439px) {
  #contacts .content {
    align-items: center;
  }

  .contact-img {
    width: 45%;
    margin-bottom: 1rem;
  }
}

/* PC SCREEN */
@media (min-width: 1440px) {
  #contacts .content {
    flex-direction: row;
    justify-content: center;
    gap: 100px;

    font-size: 20px;
  }

  .contact-img {
    width: 25%;
  }

  .contact-list {
    justify-content: space-around;
  }
}
