@import url("../../global.css");

.Contact {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;

  border-radius: 5px;
  background-color: var(--add-ons);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
}

.Contact-icon {
  width: 50px;
}

/*

PHONE SCREEN

*/
@media (min-width: 370px) and (max-width: 1439px) {
  .Contact {
    width: 100%;
  }

  .Contact-icon {
    width: 32px;
  }

  .Contact-handle {
    width: 158px;

    font-size: 12px;
    text-align: center;
  }
}

/*

PC SCREEN

*/
@media (min-width: 1440px) {
  .Contact {
    width: 50%;
  }

  .Contact-icon {
    width: 32px;
  }

  .Contact-handle {
    width: 210px;

    font-size: 16px;
    text-align: center;
  }
}
