@import url("../../global.css");

.Contact {
  flex-direction: row;
  align-items: center;
  padding: 30px;

  justify-content: center;

  gap: 50px;

  border-radius: 20px;
  border: solid 2px rgba(255,255,255,0.5);
  background-color: rgba(0, 0, 0, 0.2);
}

.Contact:hover {
  border-color: var(--tertiary-text);
}

.Contact-icon {
  filter: invert(1);
}


/*

PHONE SCREEN

*/
@media (min-width: 370px) and (max-width: 1439px) {
  .Contact {
    width: 100%;
  }

  .Contact-icon {
    width: 32px;
  }

  .Contact-handle {
    width: 158px;

    font-size: 12px;
    text-align: center;
  }
}

/*

PC SCREEN

*/
@media (min-width: 1440px) {
  .Contact {
    width: 50%;
  }

  .Contact-icon {
    width: 40px;
  }

  .Contact-handle {
    width: 250px;
    font-size: 16px;
    text-align: center;
  }
}