.contact {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  padding: 25px;

  border: 2px solid grey;
  border-radius: 5px;
  background-color: var(--add-ons);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
}

.contact .icon {
  filter: invert(1);
}

/*

PHONE SCREEN

*/
@media (min-width: 370px) and (max-width: 1439px) {
  .contact {
    width: 100%;
  }
  .contact .icon {
    width: 32px;
  }

  .contact .handle {
    width: 158px;

    font-size: 12px;
    text-align: center;
  }
}

/*

PC SCREEN

*/
@media (min-width: 1440px) {
  .contact {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 50%;

    border: 2px solid grey;
    border-radius: 5px;
    background-color: var(--add-ons);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
  }

  .contact .icon {
    width: 32px;
  }

  .contact .handle {
    width: 210px;

    font-size: 16px;
    text-align: center;
  }
}
