@import url("../../global.css");

#navbar {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  height: var(--navbar-height);
}

#navbar * {
  font-family: "Grotesk";
  color: lightgrey;
}

#navbar a {
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

#navbar a:hover {
  border-bottom: 2px solid white;
}
/*

PHONE SCREEN

*/
@media (min-width: 370px) and (max-width: 1439px) {
  #navbar {
    justify-content: center;
    align-items: center;
  }

  #navbar .business-name {
    margin-bottom: 0.5rem;
  }

  #navbar .buttons {
    width: 100%;
    flex-direction: row;
    font-size: 12px;
    font-weight: bolder;
    justify-content: space-evenly;
  }
}

/*

PC SCREEN

*/
@media (min-width: 1440px) {
  #navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
  }

  #navbar .buttons {
    flex-direction: row;
    font-size: 20px;
    font-weight: bolder;

    gap: 50px;
  }

  #navbar .business-name {
    font-size: 50px;
  }
}
