.review-card * {
  color: black;
}

.review-card {
  height: fit-content;
  background-color: white;
  padding: 30px;

  border-radius: 10px;
}

.review-name {
  font-size: 22px;
  margin: 0 0 0.2rem 0;
  padding: 0 0 0.5rem 0;
}

.review-stars {
  flex-direction: row;
  margin: 0 0 1rem 0;
  padding: 0 0 0.8rem 0;
  border-bottom: 1px solid gainsboro;
}

.star {
  color: goldenrod;
  font-size: 20px;
}

.review-text {
  width: 700px;
  margin-bottom: 1rem;
}
