* {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  background-color: black;
  height: 100px;
  width: 100%;
}

.certificate {
  width: 300px;

  justify-content: center;
  align-items: center;
}

.certificate:hover {
  opacity: 0.3;
  transition: filter 0.3s ease;
}

.certificate:hover button {
  opacity: 1;
}

.certificate img {
  width: 100%;
}

.certificate button {
  opacity: 0;

  padding: 10px 30px;

  position: absolute;
}
