.Certifications {
  background-color: var(--secondary-colour);
}
/*

PHONE SCREEN

*/
@media (min-width: 370px) and (max-width: 1439px) {
  .Certifications .Section-content {
    gap: 50px;
  }
}

/* 

PC SCREEN

*/
@media (min-width: 1440px) {
  .Certifications .Section-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
