@media (min-width: 370px) and (max-width: 1599px) {
  #certifications {
    align-items: center;
  }

  .certificate {
    width: 100%;
    margin-bottom: 50px;
  }

  .certificate .frame .content {
    padding: 20px;
  }
}

@media (min-width: 1600px) {
  #certifications .content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .certificate {
    width: 50%;
  }

  .certificate .frame .content {
    padding: 50px 80px;
  }
}

#certifications {
  background-color: var(--tertiary-colour);
}

#certifications h1 {
  color: black;
}

.certificate {
  justify-content: center;
  align-items: center;
}

.certificate h1 {
  font-size: 16px;
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 8rem;
  text-align: center;
}

.certificate .frame {
  border: solid 20px black;
  background-color: white;
}

.certificate .frame .content {
  border: inset;
}

.certificate img {
  width: 380px;
  padding: 20px;
  border: solid 1px grey;
}

.certificate button {
  display: none;
  padding: 10px 30px;

  position: absolute;

  border-radius: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);
}

.certificate .modal .content {
  position: fixed;
  z-index: 1;

  width: 100%;
  height: 100%;
}
