#certifications .content {
  align-items: center;
}

.certificate {
  justify-content: center;
  align-items: center;
}

.certificate h1 {
  font-size: 16px;
  margin-top: 2rem;
  font-weight: 500;
}

.certificate .frame {
  border: solid 20px black;
  background-color: white;
}

.certificate .frame .content {
  border: inset;
  align-items: center;
}

.certificate img {
  width: 380px;
  padding: 20px;
  border: solid 1px grey;
}

@media (min-width: 370px) and (max-width: 1599px) {
  .certificate {
    width: 80%;
  }

  .certificate img {
    width: 100%;
    padding: 0;
    border: none;
  }
}

@media (min-width: 1600px) {
  #certifications .content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .certificate {
    width: 50%;
  }

  .certificate .frame .content {
    padding: 50px 80px;
  }
}
