#contact .content {
  font-size: 22px;

  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

#contact .info {
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(20px);
}

#contact .info img {
  width: 30px;
  filter: invert(1);
}

.portrait {
  width: 25%;
  border: 2px solid white;
  border-radius: 15px;
}

@media (min-width: 370px) and (max-width: 1599px) {
  #contact .content {
    flex-direction: column;
  }

  .portrait {
    width: 75%;
  }
}
