#contact .content {
  font-size: 20px;

  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}

.contacts {
  justify-content: space-evenly;
}

.portrait {
  width: 25%;
  border: 2px solid white;
  border-radius: 15px;
}

@media (min-width: 370px) and (max-width: 1439px) {
  #contact .content {
    flex-direction: column;
  }

  .portrait {
    width: 75%;
  }
}
