:root {
  /* SITE COLOURS */
  --primary-colour: #041b29;
  --secondary-colour: #141414;
  --tertiary-colour: ;

  /* TEXT COLOURS */
  --primary-text: #ffe7cc;
  --secondary-text: #ffffff;
  --tertiary-text: #ff6f47;

  /* RANK COLOURS */
  --gold: #d1995a;
  --platinum: #7ebfaa;
  --diamond: #8183c9;
  --master: #d481db;
  --add-ons: #2b2b2b;
  --gold-gradient: linear-gradient(var(--gold), #21170b);
  --platinum-gradient: linear-gradient(var(--platinum), #0e1a16);
  --diamond-gradient: linear-gradient(var(--diamond), #0e1926);
  --master-gradient: linear-gradient(var(--master), #190b1f);

  /* DIMENSIONS */
  --navbar-height: 85px;
}

@font-face {
  font-family: "Cinzel";
  src: url(/public/fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}

@font-face {
  font-family: "DMSans";
  src: url(/public/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: "Grotesk";
  src: url(/public/fonts/Grotesk/HostGrotesk-VariableFont_wght.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-colour);
  width: 100%;
}

body * {
  display: flex;
  flex-direction: column;
}

* {
  font-family: "Grotesk", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondary-text);
}

.section-title {
  color: gainsboro;
}

.highlighted-text {
  color: var(--tertiary-text);
}

/* PHONE SCREEN */
@media (min-width: 370px) and (max-width: 1439px) {
  .section {
    align-items: center;
    padding: 4rem 20px;
  }

  .section-title {
    width: 90%;

    font-size: 48px;
    margin-bottom: 10rem;
    padding: 3rem 0;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}

/* PC SCREEN */
@media (min-width: 1440px) {
  .section {
    padding: 300px 200px;
  }

  .section-title {
    font-size: 84px;
    padding: 8rem 0;
  }
}
