@import url("variables.css");

@media (min-width: 370px) and (max-width: 1599px) {
  section h1 {
    text-align: center;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text);
}

body {
  background-color: var(--primary-colour);
  width: 100%;
}

body * {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1600px) {
  body section {
    padding: var(--navbar-height) 100px;
  }
}

title {
  display: none;
}

section h1 {
  font-size: 48px;
  margin: 4rem 0 8rem 0;
  color: var(--secondary-colour);
}

section {
  margin-bottom: 150px;
}
