@font-face {
  font-family: "Roboto";
  src: url(/public/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text);
}

body * {
  display: flex;
  flex-direction: column;
}

body section {
  padding: var(--navbar-height) 100px;
}

title {
  display: none;
}

.section-heading {
  font-size: 48px;
  margin: 4rem 0 8rem 0;
  color: white;
}
