@import url("variables.css");

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-colour);
  width: 100%;
}

body * {
  display: flex;
  flex-direction: column;
}

* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondary-text);
}

.section-title {
  text-align: center;
}

/* PHONE SCREEN */
@media (min-width: 370px) and (max-width: 1439px) {
  .section {
    align-items: center;
    padding: 4rem 0px;
  }

  .section-title {
    width: 90%;

    font-size: 48px;
    color: gainsboro;
    margin: 0 0 10rem 0;
    padding-bottom: 4rem;
    border-bottom: 2px solid lightslategrey;
  }
}

/* PC SCREEN */
@media (min-width: 1440px) {
  .section {
    padding: 200px;
  }

  .section-title {
    color: gainsboro;
    font-size: 64px;
    margin: 0 0 12rem 0;
    padding-bottom: 8rem;
    border-bottom: 2px solid lightslategrey;
  }
}
