@import url("variables.css");
@media (min-width: 370px) and (max-width: 767px) {
  #navbar {
    justify-content: center;
    align-items: center;
  }

  #navbar .buttons {
    display: none;
  }
}

@media (min-width: 768px) {
  #navbar {
    position: fixed;
    height: var(--navbar-height);
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);

    padding: 0px 50px;
    color: white;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

#navbar {
  position: fixed;
  height: var(--navbar-height);
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);

  padding: 0px 50px;
  color: white;

  flex-direction: row;
}

#navbar * {
  font-family: "Gantari";
  font-weight: 500;
}

#navbar h1 {
  font-weight: bold;
}

#navbar .buttons {
  flex-direction: row;
  font-size: 18px;

  gap: 50px;
}

#navbar a {
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: white;
}

#navbar a:hover {
  border-bottom: 2px solid white;
}
