@font-face {
  font-family: "atkinson";
  src: url(../assets/fonts/Atkinson/AtkinsonHyperlegibleNext-VariableFont_wght.ttf);
}

#packages {
  height: fit-content;
  background-color: var(--secondary-colour);
}

#packages .content {
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;

  justify-content: center;
  gap: 20px;
}

.rate-card {
  position: relative;
  width: 350px;
  height: 600px;

  padding: 180px 0 0 20px;

  border: 3px solid;
}

.rate-card img {
  position: absolute;
  width: 235px;
  height: auto;

  top: 0;
  right: 0;

  opacity: 0.4;
}

.rate-title {
  font-family: "atkinson";
  font-size: 58px;
  font-weight: bolder;
  text-transform: capitalize;
  color: #0000008f;
  color: var(--primary-colour);
  text-shadow: -1px 2px 1px black;
}

#gold {
  border-color: var(--gold);
  background-image: linear-gradient(var(--gold), white);
}

#platinum {
  border-color: var(--platinum);
  background-image: linear-gradient(var(--platinum), white);
}

#diamond {
  border-color: var(--diamond);
  background-image: linear-gradient(var(--diamond), white);
}

#master {
  border-color: var(--master);
  background-image: linear-gradient(var(--master), white);
}
