#reviews .content {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.review * {
  color: black;
}

.review {
  width: 45%;
  height: fit-content;
  background-color: white;
  padding: 30px;

  border-radius: 10px;
}

.review h1 {
  font-size: 22px;
  margin: 0 0 1rem 0;
  padding: 0 0 0.5rem 0;
  border-bottom: 1px solid gainsboro;
}

.review h2 {
  font-size: 18px;
  margin: 0 0 0.5rem 0;
}

@media (min-width: 480px) and (max-width: 767px) {
  #reviews .content {
    flex-direction: column;
    justify-content: center;
  }

  .review {
    width: 100%;
  }
}
