:root {
  /* SITE COLOURS */
  --primary-colour: #041b29;
  --secondary-colour: #141414;
  --tertiary-colour: ;

  /* TEXT COLOURS */
  --primary-text: #ffe7cc;
  --secondary-text: #ffffff;
  --tertiary-text: #ccebe9;

  /* RANK COLOURS */
  --gold: #d1995a;
  --platinum: #7ebfaa;
  --diamond: #8183c9;
  --master: #d481db;
  --add-ons: #2b2b2b;
  --gold-gradient: linear-gradient(var(--gold), #21170b);
  --platinum-gradient: linear-gradient(var(--platinum), #0e1a16);
  --diamond-gradient: linear-gradient(var(--diamond), #0e1926);
  --master-gradient: linear-gradient(var(--master), #190b1f);

  /* DIMENSIONS */
  --navbar-height: 75px;
}

@font-face {
  font-family: "Cinzel";
  src: url(/public/fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(/public/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(/public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: "Gantari";
  src: url(/public/fonts/Gantari/Gantari-VariableFont_wght.ttf);
}
