.add-on {
  font-size: 14px;
  padding: 0;
}

.add-on-price {
  flex-direction: row;
  justify-content: space-between;
}

.add-on-title,
.add-on-price {
  margin-bottom: 10px;
}

/*

PHONE SCREEN 

*/
@media (min-width: 370px) and (max-width: 1439px) {
  .add-on {
    width: 100%;
    margin-top: 3rem;
  }
}

/* 

PC SCREEN 

*/
@media (min-width: 1440px) {
}
