.review-card * {
  color: black;
}

.review-card {
  width: 700px;
  height: fit-content;
  padding: 30px 40px;

  background-color: whitesmoke;

  border-radius: 5px;

  border: solid rgba(255, 255, 255, 0.1) 2px;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.8);
}

.review-name {
  font-size: 22px;
  margin: 0 0 0.2rem 0;
}

.review-stars {
  flex-direction: row;
  padding: 0 0 0.8rem 0;
  border-bottom: 1px solid gainsboro;
}

.star {
  color: goldenrod;
  font-size: 20px;
}

.num-stars {
  font-size: 12px;
  font-weight: 400;

  color: grey;
  justify-content: center;

  margin-left: 10px;
  padding-top: 4px;
}

.review-text {
  margin-top: 1rem;
}

.read-more-button {
  margin-top: 20px;
  padding: 5px;

  color: black;

  border: none;
}
